<div class="content">
  <div class="out" (click)="out()">
    <img
      class="hidden-glitch"
      src="/assets/images/main.jpg"
      (load)="loaded()"
    />
    <div class="glitch">
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
    </div>
    <div class="gradient"></div>
    <div class="noise_wrapper">
      <div class="noise"></div>
    </div>
    <h1 class="content__title">
      <b></b>
      <b></b>
      <b></b>
      <span>70 <i>D</i><i>a</i>ys</span>
    </h1>
    <h2 class="content__text">
      Trump de<i>n<b>i</b></i
      >ed. People d<b>i</b>ed.
    </h2>
  </div>
  <div class="credits">
    <div class="art">
      Concept & Art by
      <a href="https://twitter.com/rob_sheridan">@rob_sheridan</a>
    </div>
    <div class="code">
      Code by <a href="https://twitter.com/scott_mccaughey">@scott_mccaughey</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
